extends ./layout.jade

block content
	.container
		.featured
			h2 Featured Article
			hr
			ul.article-list
				li
					.article-title Website launched!
					.article-desc dsjf8sdjfjsdjf8sjd8fj8sdjf8sj8dfs8usd8fu8sduf8usd8uf8sud8fu8sduf8udjf
				li
					.article-title Website sdfsdf!
					.article-desc oinkoinkoinkoinkonsdfsdfdsfiknoinkoinoknoinoinoknok
