.featured {
	float: left;
	width: 60%;
}

.article-list li {
	width: 80%;
	height: 60px;
}
.article-list {
	list-style: none;
	padding: 10px;
}

.article-desc {
	font-size: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.article-title {
	font-weight: bold;
}